<footer class="footer p-10 bg-black text-neutral-content" hx-boost="false">
    <div>
      <span class="footer-title">Other tools</span> 
      <a href="https://base64decodewizard.com" class="link link-hover">Base64 Decoder</a>
      <a class="link link-hover">Pancake recipe</a>
      <a href="https://ao.news" class="link link-hover">AO News</a>
    </div> 
    <div>
      <span class="footer-title">By</span> 
      <a href="https://maxberggren.se" class="link link-hover">Max Berggren</a>
      <a href="https://twitter.com/maxberggren" class="link link-hover">@maxberggren</a>
    </div> 
  </footer>